## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
import datetime

In [3]:
print(datetime.datetime.now())

2022-08-15 23:10:01.533511

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [4]:
import math

In [10]:
def getAreaCircle(radius):
    return math.pi*radius**2

In [11]:
print(getAreaCircle(3))

28.274333882308138

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [15]:
def isUnique(listIn):
    return len(listIn) == len(set(listIn))

In [17]:
print(isUnique([2,4,5,5,7,9]))
print(isUnique([2,4,5,7,9]))

False
True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [31]:


def countChars(entryText):
    charCount = {}
    for letter in entryText.upper():
        charCount[letter] = 1 if letter not in charCount else charCount[letter]+1
    return charCount

In [32]:
FILEPATH = "./data/lil-wayne.txt"

# print(countChars("Hello How are you?"))

fr = open(FILEPATH)
print(countChars(fr.read()))

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [41]:
def flip(arrayIn):
    return {v: k for k, v in arrayIn.items()}

FILEPATH = "./data/lil-wayne.txt"
fr = open(FILEPATH)

flippedMap = flip(countChars(fr.read()))
maxCount = max(flippedMap.keys())
largestChar = flippedMap[maxCount]

print("The largest character was: `{}` with a count of: {}".format(largestChar, maxCount))

The largest character was: ` ` with a count of: 522

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [44]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

In [46]:
TO_REMOVE = 4

newNumber = list1.pop(TO_REMOVE-1)*list1[-1]
list1.append(newNumber)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [48]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

In [53]:
new_list = list(filter(lambda x: (x%3==0), original_list))

In [54]:
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [63]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

In [64]:
original_list.sort(reverse=True)

In [65]:
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [68]:
original_list = [1, 2, 3, 4, 5, 6, 7]
squared_list = list(map(lambda x: (x**2), original_list))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [70]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2.sort(reverse=True)
for x, y in zip(list1, list2):
    print("{} {}".format(x, y))

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [72]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

parsed_string = list(filter(lambda x: (x!=""), list_of_strings))
print(parsed_string)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [77]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
TARGET_VALUE = 999



print(TARGET_VALUE in sample_dict.values()) # Checks if it is inthe dictionary values

True

In [78]:

FAKE_TARGET = 10
print(FAKE_TARGET in sample_dict.values())

False

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [84]:
import pandas as pd

FILEPATH = "data/titanic.csv"

In [85]:
df = pd.read_csv(filepath_or_buffer=FILEPATH)

In [86]:
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [114]:

import functools, math


def getMean(arrayIn):
    properNums = list(filter(lambda x: not math.isnan(x), arrayIn))
    arrayLen = len(properNums)
    return functools.reduce(lambda a, b: (a+b), properNums)/arrayLen

In [115]:
getMean(list(df["age"]))

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [118]:
titanicAges = list(df["age"])
print("oldest was:", max(titanicAges), "youngest was:", min(titanicAges))

oldest was: 80.0 youngest was: 0.42

## How many people embarked from station 'S'?

In [122]:

def getEmbarkedFromStation(arrayIn, station):
    return len(list(filter(lambda x: (x == station), arrayIn )))

print(getEmbarkedFromStation(list(df["embarked"]), 'S'))

644